---
import BaseLayout from '@/layouts/BaseLayout.astro'
---

<BaseLayout>
  <article class="prose">
    <h1 class="nav-link text-3xl font-bold opacity-80">Notes</h1>
    <p>This page is under construction. 👷</p>
    <h2>NUS Courses</h2>
    <p>
      The notes here can be used as complete replacements of the lecture slides
      and reference textbooks.
    </p>
    <ul>
      <li>
        <a href="https://cs2040s.devanshshah.dev"
          >CS2040S Data Structures and Algorithms</a
        >
      </li>
      <li>
        <a href="https://cs4261.devanshshah.dev"
          >CS4261 Algorithmic Game Theory</a
        >
      </li>
    </ul>
    <p>
      And you can find cheatsheets for the following courses I've taken
      <a href="https://github.com/Devanshshah1309/NUS-Module-Notes">here</a>.
    </p>
  </article>
</BaseLayout>
