---
import BaseLayout from '@/layouts/BaseLayout.astro'
import siteConfig from '@/site-config'
---

<BaseLayout description={siteConfig.description}>
  <article class="prose">
    <h1>Devansh</h1>
    <p>Heyy, I'm Devansh! 👋</p>
    <p>
      I recently graduated as Valedictorian from the National University of
      Singapore (NUS) with a Bachelor's degree in Computer Science.
    </p>
    <p>
      I often describe myself as <strong>creative problem solver</strong> who enjoys
      working on difficult problems that have a real-world impact. Typically, this
      involves using technology, math, or algorithms in some way, but I'm always
      open to new ideas.
    </p>
    <p>
      <strong>Currently</strong>, I'm working at Optiver as a Quantitative
      Trader.
    </p>
    <p>
      <strong>Aside from work</strong>, I am:
    </p>
    <ul>
      <li>learning new things that I find cool</li>
      <li>
        writing about random stuff on my <a
          href="https://hsnaved.substack.com/"
          target="_blank">newsletter</a
        >
      </li>
    </ul>
    <p>
      Previously, I've <strong>interned</strong> at:
    </p>
    <ul>
      <li>
        <a class="prose-link" href="https://optiver.com/" target="_blank">
          Optiver</a
        > (Quantitative Trader Intern)
      </li>
      <li>
        <a class="prose-link" href="https://ailytics.ai/" target="_blank">
          Ailytics</a
        > (Software Engineering Intern)
      </li>
      <li>
        <a
          class="prose-link"
          href="https://www.screeningeagle.com/"
          target="_blank"
        >
          Screening Eagle</a
        > (Backend Engineering Intern)
      </li>
      <li>
        <a
          class="prose-link"
          href="https://www.comp.nus.edu.sg/~vwo/"
          target="_blank"
        >
          Computing for Voluntary Welfare Organisations</a
        > (Software Engineering Intern)
      </li>
    </ul>
    <p>In <strong>NUS</strong>, I have:</p>
    <ul>
      <li>
        been part of <a
          class="prose-link"
          href="https://www.nushackers.org/"
          target="_blank"
        >
          NUS Hackers</a
        > (Coreteam), <a
          class="prose-link"
          href="https://www.linkedin.com/company/nusstartit/"
          target="_blank">StartIT</a
        > (President) and <a
          href="https://www.comp.nus.edu.sg/~vwo/"
          class="prose-link"
          target="_blank"
        >
          CVWO</a
        > (President)
      </li>
      <li>
        taught <a
          class="prose-link"
          href="https://nusmods.com/courses/CS2040S/data-structures-and-algorithms"
          target="_blank"
        >
          Algorithms</a
        > (3x), <a
          class="prose-link"
          href="https://nusmods.com/courses/CS3230/design-and-analysis-of-algorithms"
          target="_blank"
        >
          Algorithms</a
        >, <a> Programming</a>, <a
          class="prose-link"
          target="_blank"
          href="https://nusmods.com/courses/CS1231S/discrete-structures"
        >
          Discrete Structures</a
        >, <a
          class="prose-link"
          href="https://nusmods.com/courses/CS2103T/software-engineering"
          target="_blank"
        >
          Software Engineering</a
        >, and <a
          class="prose-link"
          target="_blank"
          href="https://nusmods.com/courses/IT5003/data-structures-and-algorithms"
        >
          Algorithms</a
        > as a teaching assistant.
      </li>
    </ul>
    <p>In <strong>high school</strong>, I used to:</p>
    <ul>
      <li>
        lead the student council as Head Boy (2021) and Deputy Head Boy (2020)
        and . . . and House Captain (2015)
      </li>
      <li>
        start new initiatives like the school's first conference event (GIIS
        Conference 2019), and peer-teaching program
      </li>
      <li>organize and take part in Model United Nations (MUN) events</li>
      <li>be part of the school's badminton team (2014-2019)</li>
      <li>
        care too much about grades (enough to be awarded every academic award
        there was to achieve)
      </li>
    </ul>
    <hr class="hr-line" />
    <p>You can find me on:</p>
    <p class="flex gap-x-4 gap-y-2 flex-wrap">
      {
        siteConfig.socialLinks.map((link) => (
          <a
            aria-label={link.text}
            href={link.href}
            target="_blank"
            class="prose-link"
          >
            <i class:list={[link.icon]} />
            {link.text}
          </a>
        ))
      }
    </p>
  </article>
</BaseLayout>
