---
import BaseLayout from '@/layouts/BaseLayout.astro'
import siteConfig from '@/site-config'
---

<BaseLayout description={siteConfig.description}>
  <article class="prose">
    <h1>Devansh</h1>
    <p>
      Hi, I'm Devansh, a final-year CS student at the National University of
      Singapore.
    </p>
    <p>
      I often describe myself as <strong>creative problem solver</strong> who enjoys
      working on difficult problems that have a real-world impact. Typically, this
      involves using technology, math, or algorithms in some way, but I'm always
      open to new ideas.
    </p>
    <p>
      <strong>Right now</strong>, I am:
    </p>
    <ul>
      <li>working on my final-year project</li>
      <li>
        reading books that i've always wanted to, but didn't have the time to.
      </li>
      <li>trying to write blogs more often.</li>
      <li>enjoying my final year at NUS</li>
    </ul>
    <p><strong>In NUS</strong>, I have:</p>
    <ul>
      <li>
        been part of <a
          class="prose-link"
          href="https://www.nushackers.org/"
          target="_blank"
        >
          NUS Hackers</a
        > (Coreteam), <a
          class="prose-link"
          href="https://www.linkedin.com/company/nusstartit/"
          target="_blank">StartIT</a
        > (President) and <a
          href="https://www.comp.nus.edu.sg/~vwo/"
          class="prose-link"
          target="_blank"
        >
          CVWO</a
        > (President)
      </li>
      <li>
        taught <a
          class="prose-link"
          href="https://nusmods.com/courses/CS2040S/data-structures-and-algorithms"
          target="_blank"
        >
          Algorithms</a
        > (2x), <a
          class="prose-link"
          href="https://nusmods.com/courses/CS3230/design-and-analysis-of-algorithms"
          target="_blank"
        >
          Algorithms</a
        >, <a> Programming</a>, <a
          class="prose-link"
          target="_blank"
          href="https://nusmods.com/courses/CS1231S/discrete-structures"
        >
          Discrete Structures</a
        >, <a
          class="prose-link"
          href="https://nusmods.com/courses/CS2103T/software-engineering"
          target="_blank"
        >
          Software Engineering</a
        >, and <a
          class="prose-link"
          target="_blank"
          href="https://nusmods.com/courses/IT5003/data-structures-and-algorithms"
        >
          Algorithms</a
        > as a teaching assistant.
      </li>
      <hr class="hr-line" />
      <p>You can find me on:</p>
      <p class="flex gap-x-4 gap-y-2 flex-wrap">
        {
          siteConfig.socialLinks.map((link) => (
            <a
              aria-label={link.text}
              href={link.href}
              target="_blank"
              class="prose-link"
            >
              <i class:list={[link.icon]} />
              {link.text}
            </a>
          ))
        }
      </p>
    </ul>
  </article>
</BaseLayout>
